/* -----------------------------
Pawbs Engine Neocities style.css
------------------------------*/

/* HTML Elements */
body {
	font-family: Arial;
	font-size: 12px;
	color: #222222;
	background-image: url("../images/backgrounds/focus-scientific.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: background-image 2s ease-in-out;
}

/* Windows */
#pawbs-window {
	margin: 0px auto;
}
#pawbs-iframe {
	position: absolute;
	width: 1366px;
	height: 768px;
	top: 50.7%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.window-size-game {
	width: 1412px;
	height: 886px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.window-size-regular {
	width: 800px;
	height: 600px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.window-buttons {
	justify-content: flex-end;
}
.window-icon {
	float: left;
	margin-right: 4px;
}

/* Tab Control */
.tab-control {
	padding: 0px 6px;
}

/* Tab Pages */
#about {
	height: 470px;
}
#about fieldset {
	height: 448px;
}
#game {
	width: 1366px;
	height: 768px;
	padding: 8px;
}
#links {
	height: 470px;
}
#links ul.tree-view {
	height: 436px;
}
#links progress {
	width: 30%;
}

/* Misc. */
.github-link {
	margin: 0px;
	padding: 0px 24px;
}
.paw-signature {
	font-size: 44px;
	margin: 0px;
}


/* Third-Party Library Overrides */

/* XP.css TreeView	*/
ul.tree-view a {
	color: #0000ff !important;
	text-decoration: underline !important;
}
ul.tree-view a:focus {
	background-color:#2267cb !important;
	color:#ffffff !important;
}
ul.tree-view summary::marker {
	display: none !important;
	content: "" !important;
	opacity: 0 !important;
}